* {
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
div {
    background-image: url(../imagenes/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
} 

section {
    background: linear-gradient(0deg,#d08657 0%, #c47a2b 80%);
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 140px;
}
legend {
    color: rgb(48, 39, 28);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}
label {
    text-transform: capitalize;
    margin-bottom: 5px;
}
input {
    height: 20px;
    margin-bottom: 20px;
}
.enviar {
    height: 25px;
    background-color: rgb(48, 39, 28);
    color: white;
    border: none;
    border-radius: 3px;
}
a{
    color: black;
}